@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  font-size: 16px;
  --bg: #1e213af3;
  --bgDark: #0b0c14f3;
  --text: #ffffff;
  --text-dark: #e4e4e4;
  --orange: #ef9b00;
}
body {
  /* background-color: rgb(151, 151, 151); */
  height: fit-content;
}
.container {
  color: var(--text);
  background-color: var(--bg);
}
.placeholder {
  padding: 0rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--text);
}

.placeholder ol li {
  color: var(--bg);
}

.placeholder img {
  width: 70%;
  max-width: 300px;
}
.placeholder .heading {
  margin-bottom: 1rem;
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  color:var(--bg);
  text-decoration: underline;

}

.placeholder span {
  font-style: italic;
  color: var(--orange);
}
@media only screen and (min-width: 1024px) {
  .container {
    position: absolute;
    right: 0;
    left: 0;
    margin: 2rem auto;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    border-radius: 0rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
  }
}
