@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  font-size: 16px;
  --bg: #1e213af3;
  --bgDark: #0b0c14f3;
  --text: #ffffff;
  --text-dark: #d6d6d6;
}
body {
  background-color: var(--bg);
  height: fit-content;
}
.container {
  color: var(--text);
  background-color: var(--bg);
}

@media only screen and (min-width: 1024px) {
  .container {
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    padding-top:2rem ;
    /* margin:0 auto; */
    display: flex;
    /* height: 100vh; */
  }
}
