.current-weather {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem 1rem 0rem;
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.search {
  width: 100%;
  color: black;
}

.weather-icon-wrapper {
  height: 7rem;
  overflow: hidden;
  /* background: #000; */
}

.current-weather img {
  width: 9rem;
}

.current-temperature {
  font-size: 3em;
}

.current-weather-condition {
  font-size: 1.5em;
  color:#ef9b00;
  font-weight: 600;
  margin-top: 1rem;
}

.date {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 400;
}

.circle-seperator {
  width: 0.3em;
  height: 0.3rem;
  background-color: var(--text-dark);
  border-radius: 50%;
}

.location {
  font-weight: 400;
  color: var(--text-dark);
}

.highlights {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.highlights-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.highlights h2 {
  margin-bottom: 2rem;
}

.highlight-card {
  background-color: var(--text-dark);
  width: 45%;
  max-width: 200px;
  padding: 1rem 0;
  border-radius: 0.5rem;
  color: var(--bg);
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .current-weather {
    
    /* background-color: green; */
    align-items: stretch;
  }
  .container-1 {
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: stretch;
    
  }
  .container-2{
    /* background-color: yellow; */
  }
  .highlights {
    flex-basis: 50%;
    /* background-color: yellow; */
    /* background-color: blue; */
    margin-top: 0;
  }
  .highlights-wrapper {
    gap: 2rem;
    justify-content: space-between;
    align-items: baseline;
    /* flex-wrap: nowrap; */
    /* background-color: yellow; */

  }
  .highlight-card {
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .current-weather {
    flex-basis: 40%;
    padding: 2rem 4rem !important;
  }
  .container-1 {
    flex-direction: column;
    padding: 1rem;
  }
}
