.forecast {
  background-color: var(--text-dark);
  padding: 2rem 1rem;
  text-align: center;
}
.forecast h2 {
  color: var(--bg);
}
.forecast-cards {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem 0rem;
}
.forecast-card {
  width: 140px;
  padding: 1rem 0;
  background-color: var(--bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.forecast-card img {
  width: 4rem;
  margin: auto;
}
.forecast-card .temp {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.forecast-card .desc {
  font-size: .8em;
  color: #efcc00;
}
.temp .real-temp {
    font-weight: 600;
}
.forecast-card .temp .feels-like {
    color: var(--text-dark);
    font-size: .8rem;
}

@media only screen and (min-width: 640px) {
  .forecast-cards {
    gap: 2rem;
  }
  .forecast-card {
    width: 170px;
  }
}

@media only screen and (min-width: 1024px) {
  .forecast {
    flex-basis: 60%;
  }
  .forecast-cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
  .forecast-card {
    width: 100%;
    max-width: 500px;
  }
}
